/**{
    background-color: green;
    font-size: 30px;
}*/
.one{
    color: rgb(10, 10, 193);
}
/* h1.two{
    color: rgb(220, 40, 40);
} */
.sy{
    color: rgb(132, 20, 20);
    font-size: 30px;
}
 id sellector */
 #two{
    background-color: rgb(35, 82, 35);
} 
.two{
    color: rgba(0, 255, 42, 0.698);
    font-size: 90px;
}