p{
    color: rgb(0, 42, 255);
}
h1{
    background-color: aqua;
}
ul{
    background-color: violet;
}
li{
    list-style-type: square;
}
.sy{
    color: brown;
    font-size: 30px;
}
p{
    font-size: 40px;
}
body h1+p .sk{
    color: aqua;
    background-color: blueviolet;
    padding: spx;
}
